*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}


.card {
    position: relative;
    background-color: #f0f0f0;
    margin: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: all .4s linear;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  .card,
  .back,
  .front {
    height: 100px;
    width: 100px;
  }
  
  .back,
  .front {
    position: absolute;
    backface-visibility: hidden;
  }
  
  .front {
    background: #6589F9;
    
  }
  
  .back {
    transform: rotateY(180deg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .selected {
    transform: rotateY(180deg);
  }
  
  .match .front {
    background: white !important;
    opacity: 0.2;
  }

  .controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.attempts, .timer {
    font-size: 16px;
    margin: 5px 0;
}

.hidden {
  visibility: hidden;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.instructions {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
  text-align: center;
}

.instructions p {
  margin-bottom: 10px;
}

.instructions p a {
  color: #007bff;
  text-decoration: none;
}

.instructions p a:hover {
  text-decoration: underline;
}